#scrollwrap::-webkit-scrollbar-thumb {background-color: #536dff;}
#scrollwrap {scrollbar-color: #536dff transparent}

.tab_border {
	padding: 8px 2px 2px 2px;
	background: var(--blue-grad);
	border-radius: 12px;
	transition: box-shadow 0.2s ease-in-out;
}

.tab {
	width: 300px;
	padding: 30px 35px 30px 35px;
	background-color: var(--tab-grey);
	height:max-content;
	border-radius: 12px;
	box-shadow: 0 0 50px 0 #0e0d1a inset;
	flex-shrink: 0;
}

.tab.phantom {
	height: 300px;
	padding: 0;
	background:none;
	border-radius: 12px;
	box-shadow: none;
	/* border: dotted thick var(--tab-grey) ; */
	text-align: center;
	background-image: url(../../assets/frame.svg);
}

.tab.phantom > h2 {
	margin-top: 66%;
}

.tab.phantom:hover{
	cursor: pointer;
}

.tab.phantom:hover > h2 {
	text-decoration: underline;
}

.tab > *:not(/* :first-child, */ :last-child) {
	margin-bottom: 12px;
}

.tab > .steps {
    margin-right: -35px;
    overflow: hidden auto;
    padding-right: 30px;
    max-height: 300px;
}

.tab_border.red {background: var(--red-grad);}
.tab_border.red:hover {box-shadow: 0 0 50px 0 #2F0007;}
.tab_border.red .steps::-webkit-scrollbar-thumb {background-color: var(--red);}
.tab_border.red .steps {scrollbar-color: var(--red) transparent}

.tab_border.green {background: var(--green-grad);}
.tab_border.green:hover {box-shadow: 0 0 50px 0 #023d00;}
.tab_border.green .steps::-webkit-scrollbar-thumb {background-color: var(--green);}
.tab_border.green .steps {scrollbar-color: var(--green) transparent}

.tab_border:not(:last-child) {margin-right: 42px;}

.tab h1 {
	text-transform: capitalize;
}

.tab_border:first-child ul {
	list-style: none;
	margin-left: 0;
	font-size: 16px;
}

li>img {
	vertical-align: middle;
	height: 24px;
	margin-right: 12px;
    filter: brightness(0.5) sepia(1) saturate(90) hue-rotate(265deg);
}

.step:not(:last-child) {
	margin-bottom: 12px;
}

input[type="checkbox"] {
	margin-right: 0.5em;
}

.step_headline {
	display: flex;
	align-items: baseline;
	margin-bottom: 6px;
}

ul {
	/* margin-left: 1.5em; */
}

.task li {
	margin-bottom: 6px;
}

#menu {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
}

#menu > li {
	display: inline-block;
	/* background-color: #536dff; */
	margin-left: 16px;
	padding: 6px 2px;
	position: relative;
	color: var(--text-grey);
}

#menu > li > .underline {
	position: absolute;
	top: calc(100% + 6px);
	height: 2px;
	left: 0;
	width: 0;
	background-color: var(--purple2);
	transition: width .2s ease-in-out;
}

#menu > li:hover > span {
	cursor: pointer;
	color: white !important;

}

#menu > li > span > img {
	height: 1.4em;
	vertical-align: middle;
}

#menu > li:hover > .underline {
	width: 100%;
}

#addTaskButton {
	height: 100px;
}

button.add {
	background: center/60% no-repeat url(../../assets/addition.svg);
	width: 48px; height: 48px;
	flex-shrink: 0;
	border: 2px solid var(--purple2);
	background-color: var(--tab-grey);
	border-radius: 12px;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

button.add:hover {
	border-color: var(--purple-light);
	box-shadow: 0 0 20px 0 var(--purple);

}

circle.progress, svg.progressCircle {
	transition: 0.5s ease-in-out;
	transition-property: stroke-dasharray stroke;
}

.progressTab {
	display: flex;
    align-items: center;
}

.progressCircle{
	margin-right: 4px;
}

.taskHeadline, .stepHeadline {
	cursor: pointer;
}

.buttonRow > button {
	width: 32px; height: 32px;
	border-radius: 8px;
	margin-right: 6px;
	cursor: pointer;
}

.tab_border .buttonRow > button {
	border: 2px solid var(--purple2);
}

.tab_border.red .buttonRow > button {
	border: 2px solid var(--red);
}

.tab_border.green .buttonRow > button {
	border: 2px solid var(--green);
}

button.bell {background: center/70% no-repeat url(../../assets/m_ack.svg);}
button.plane {background: center/70% no-repeat url(../../assets/airplane.svg);}
button.time {background: center/70% no-repeat url(../../assets/wristwatch.svg);}
button.medal {background: center/70% no-repeat url(../../assets/medal.svg);}
button.boat {background: center/70% no-repeat url(../../assets/boat.svg);}
button.trash {background: center/70% no-repeat url(../../assets/can.svg);}
button.add {background: center/70% no-repeat url(../../assets/add.svg);}
button.edit {background: center/70% no-repeat url(../../assets/edit.svg);}

#shadow {
	background: linear-gradient(to right, transparent, var(--dark-bg));
	position: absolute;
	width: 25px;
	height: 100%;
	right: 42px;
}